* {
    box-sizing: border-box;
}

body {
    background-color: #c7cab6;
    display:flexbox;
    flex-wrap: wrap;
}

.body {
    font-family: sans-serif;
    margin-top: 5px;
}

.hero {
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
    background-image: url("./assets/banner-ready.jpg");
    background-size: cover;
    background-position: center;
}

.header {
    background-color: #041f58;
    color: #d3d3d3;
    position: relative;
}

.header h2 {
    font-family: "Lucida Console", Monaco, monospace;
    display: flex;
    flex-wrap: wrap;
    line-height: 75px;
    position: relative;
    margin-right: auto;
    padding-left: 15px;
    font-size: 50px;
}

.header div {
    padding-top: 25px;
    margin-right: 10px;
    float: right;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    position: absolute; top: 0; right: 0;
}

.header div ul {
    list-style-type: none;
    position: relative;
    justify-content: space-between;
    margin-top: 1px;
    margin-bottom: 1px;
}

.header div ul li {
    display: inline-block;
    margin-left: auto;
    position: relative;
}

.header a {
    font-size: 30px;
    color: #939393;
    text-decoration: none;
    margin-right: 25px;
}

.header div ul li a :hover{
    color: rgb(110, 153, 177);
}

.friendly {
    font-size: 30px;
    text-align: center;
}

.exp {
    text-align: center;
    font-size: 30px;
}

.experience {
    margin: 20px;
    columns: 2;
    justify-content: center;
}

.experience img {
    height: 70%;
    width: 70%;
    max-width: 90%;
    max-height: 80%;
    padding-bottom: 2%;
}

.experience img :hover {
    -webkit-transform-scale: 1.5;
}


.experience h2 {
    font-size: 40px;
    text-align: center;
}

.experience div {
    border:5px solid rgba(116, 55, 15, 0.789);
    height: 100%;
    width: 100%;
}

.experience div :hover {
    box-shadow: 0 0 20px rgb(110, 153, 177);

}

.civil-engineering-autocad {
    margin-bottom: 20px;
    text-align: center;
}

.civil-engineering-autocad img {
    height: 400px;
}

.electrical-engineering-autocad {
    margin-bottom: 20px;
    text-align: center;
}

.point-cloud {
    margin-bottom: 20px;
    text-align: center;
}

.computer-programming {
    margin-bottom: 20px;
    text-align: center;
    break-inside: avoid-column;
}

.drone {
    margin-bottom: 20px;
    text-align: center;
}

.contact-me h2 {
    padding-top: 100px;
    text-align: center;
    padding-left: 5%;
    font-size: 30px;
}

.contact-me div ul li {
    display: inline-block;
    margin: 5%;
    position: relative; 
    text-align: center;
    padding-left: 6%;
}

.contact-me div ul li a {
    font-size: 30px;
    color: #393939;
    /* text-decoration: none; */
    /* margin-right: 25px; */
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
      }
    .body {
        width: 100%;
    }
}