* {
    box-sizing: border-box;
}

/* set background color and styling of body */
body {
    background-color: #c7cab6;
    display:flexbox;
    flex-wrap: wrap;
}

/* Set font and margin for body */
.body {
    font-family: sans-serif;
    margin-top: 5px;
}

/* Sets header image sizing and style */
.hero {
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
    background-image: url("./assets/banner-ready.jpg");
    background-size: cover;
    background-position: center;
}

/* Set styling for name and buttons */
.header {
    background-color: #041f58;
    color: #d3d3d3;
    position: relative;
}

/* Styling and formatting for h2 element of name */
.header h2 {
    font-family: "Lucida Console", Monaco, monospace;
    display: flex;
    flex-wrap: wrap;
    line-height: 75px;
    position: relative;
    margin-right: auto;
    padding-left: 15px;
    font-size: 50px;
}

/* Sets padding and position of element. Styling is applied as well */
.header div {
    padding-top: 25px;
    margin-right: 10px;
    float: right;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    position: absolute; top: 0; right: 0;
}

/* control for the unordered list in the header  */
.header div ul {
    list-style-type: none;
    position: relative;
    justify-content: space-between;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* formatting for the unordered list, list */
.header div ul li {
    display: inline-block;
    margin-left: auto;
    position: relative;
}

/* formatting and style of the list elements */
.header a {
    font-size: 30px;
    color: #939393;
    margin-right: 25px;
}

/* provides hover psudo for header element with color change */
.header div ul li :hover{
    color: rgb(19, 126, 184);
}

/* applying formatting and styling to friendly element */
.friendly {
    border:5px dashed rgba(116, 55, 15, 0.789);
    font-size: 30px;
    text-align: center;
}

/* Sets control and formatting for experience header */
.exp {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

/* sets controls for experience segment of body element */
.experience {
    margin: 20px;
    columns: 2;
    justify-content: center;
}

/* sets controls for images in experience element */
.experience img {
    height: 70%;
    width: 70%;
    max-width: 90%;
    max-height: 80%;
    padding-bottom: 2%;
}

/* Styling and formatting for h2 element of name */
.experience h2 {
    font-size: 40px;
    text-align: center;
}

/* applying formatting and styling to experience element */
.experience div {
    border:5px dashed rgba(116, 55, 15, 0.789);
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* provides hover psudo for header element with color change */
.experience div :hover {
    box-shadow: 0 0 20px rgb(110, 153, 177);

}

/* control for image height */
.civil-engineering-autocad img {
    height: 400px;
}

/* control to keep column from breaking the boarder element */
.computer-programming {
    break-inside: avoid-column;
}

/* applying formatting and styling to experience element */
.contact-me {
    border:5px dashed rgba(116, 55, 15, 0.789);
    height: 30%;
}

/* Styling and formatting for h2 element of name */
.contact-me h2 {
    padding-top: 25px;
    text-align: center;
    padding-left: 5%;
    font-size: 30px;
}

/* formatting for the unordered list, list */
.contact-me div ul li {
    display: inline-block;
    margin: 5%;
    position: relative; 
    text-align: center;
    padding-left: 6%;
}

/* formatting for the unordered list, list */
.contact-me div ul li a {
    font-size: 30px;
    color: #393939;
    text-align: center;
}

/* sets controls for multiple devices */
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
      }
    .body {
        width: 100%;
    }
}

/* sets controls for multiple devices */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}